select.form-control {
  padding-right: 25px;
  background-image: url("data:image/svg+xml,\
    <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
         height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
      <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
    </svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.f-icon {
  border-right: 0;
}

.input-group-addon {
  background-color: white;
  border-left: 0;
}

.form-text{
  margin-top: 0; 
  margin-bottom: 10px;
}

.input-group-focus {
  border-radius:4px;
  -webkit-transition: box-shadow ease-in-out .15s;
          transition: box-shadow ease-in-out .15s;
}

.input-group-addon {
  -webkit-transition: border-color ease-in-out .15s;
          transition: border-color ease-in-out .15s;
}

.input-group-focus .input-group-addon {
  /*border-color: #66afe9 !important;*/
   border-color: #66afe9 !important;
}

.input-group-focus:valid .input-group-addon {
  background-color: white;
  border-color: #66afe9 !important;
  border-color: #66afe9 !important;
}

.bg-light{
  background-color: white !important;
}

.modal-header {
  border-bottom: none;
}

.form-container{
    width: 80%; 
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.form-container-add{
    width: 40%; 
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

